In [10]:
import pandas as pd
import numpy as np

In [18]:
path = "../Data/Online_Data/trainning_data/corporate_attributes/"
outpath = "../Processed_Data/"

In [19]:
company_ar_nz = pd.read_csv(path+"company_ar_nz.csv")

In [20]:
company_ar_nz = company_ar_nz.fillna({'FARNUM':0, 'ANNNEWMEM': 0, 'ANNREDMEM': 0})

company_ar_nz = company_ar_nz.groupby('entid').mean()
company_ar_nz = company_ar_nz.drop(["ANCHEYEAR"],axis=1)

In [21]:
company_ar_nz

            MEMNNUM  FARNUM  ANNNEWMEM  ANNREDMEM
entid
221197         5.00    7.00       0.00       9.00
4931578       10.00    7.50       3.50       2.00
5021913        8.00   11.75       7.00       6.50
5601451        9.75   10.50       4.75       5.25
16180213       9.00   10.00       2.00       6.00
...             ...     ...        ...        ...
1228521501    21.50   25.50       5.00       7.00
1230453127     7.75    9.00       4.25       3.75
1231276480     8.50   11.00       4.50       2.00
1233927067    13.75   15.50       8.00       5.00
1234079793     7.00   10.00       1.00       3.00

[463 rows x 4 columns]

In [22]:
company_ar_nz["concentration(ESG)"] = 0
company_ar_nz.loc[company_ar_nz["MEMNNUM"] != 0, "concentration(ESG)"] = company_ar_nz["FARNUM"]/company_ar_nz["MEMNNUM"]  
company_ar_nz.loc[company_ar_nz["concentration(ESG)"] >= 1, "concentration(ESG)"] = 1

company_ar_nz["Turnover of farmer"] = 0
company_ar_nz["Turnover of farmer"] = company_ar_nz["ANNNEWMEM"] -company_ar_nz["ANNREDMEM"]

In [23]:
company_ar_nz

,MEMNNUM,FARNUM,ANNNEWMEM,ANNREDMEM,concentration(ESG),Turnover of farmer
entid,,,,,,
221197,5.00,7.00,0.00,9.00,1.00,-9.0
4931578,10.00,7.50,3.50,2.00,0.75,1.5
5021913,8.00,11.75,7.00,6.50,1.00,0.5
5601451,9.75,10.50,4.75,5.25,1.00,-0.5
16180213,9.00,10.00,2.00,6.00,1.00,-4.0
...,...,...,...,...,...,...
1228521501,21.50,25.50,5.00,7.00,1.00,-2.0
1230453127,7.75,9.00,4.25,3.75,1.00,0.5
1231276480,8.50,11.00,4.50,2.00,1.00,2.5
1233927067,13.75,15.50,8.00,5.00,1.00,3.0
1234079793,7.00,10.00,1.00,3.00,1.00,-2.0

In [24]:
company_ar_nz.to_csv(outpath+"company_ar_nz_processed.csv")